<div class="container mt-5">
    <h1>상품 등록 페이지</h1>
    <form id="goodSelectorForm" class="mt-3">
        <!-- 'f_code' 입력 필드의 id를 'f_code_goodSelector'로 변경 -->
        <input type="hidden" id="f_code_goodSelector" name="f_code" value="<%= data.kForm.f_code %>" />

        <div class="form-group">
            <label for="selectedProductName">상품 선택:</label>
            <select class="form-control" id="goodSelect" name="g_name">
                <% data.kGood.forEach(function(good) { %>
                    <option value="<%= good.g_name %>"><%= good.g_name %></option>
                <% }); %>
            </select>
        </div>
        <div class="form-group">
            <label for="quantity">수량 입력:</label>
            <input type="number" class="form-control" id="quantity" name="g_ea" required min="1" />
        </div>
        
        <button type="submit" class="btn btn-primary">상품 등록</button>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // '수량 입력' 필드를 선택합니다.
        const quantityInput = document.getElementById('quantity');
    
        // '수량 입력' 필드에 keypress 이벤트 리스너를 추가합니다.
        quantityInput.addEventListener("keypress", function(e) {
            // 눌린 키가 엔터키인지 확인합니다.
            if (e.key === "Enter") {
                // 기본 이벤트를 방지합니다.
                e.preventDefault();
                // 상품 등록 버튼을 선택하고 클릭 이벤트를 발생시킵니다.
                const submitButton = document.querySelector('button[type="submit"]');
                submitButton.click();
            }
        });
    });
    </script>